@{
	ViewData["Title"] = "Projects";
}

<section id="Projects">
	<div class="section-header">
		<h1>Projects</h1>
		<div style="flex-grow: 1;"></div> <!-- pushar knappen -->
		<button class="btn">Add Project</button>
	</div>




	<div class="content">
		<div class="surface">
		</div>
	</div>
</section>

<partial name="Partials/Modals/_AddProjectModal" />