<div class="notification-dropdown-container">
    <button id="notification-dropdown-button" data-type="dropdown" data-target="#notification-dropdown" class="btn-notification fa-duotone fa-solid fa-bell" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;">
    </button>

    <div id="notification-dropdown" class="notification-dropdown">
        <div class="notification-header">
            <h4>Notifications</h4>
            <span class="notification-number"> 99</span>
        </div>
        <div class="dropdown-divider"></div>
        <div class="notifications">


            <div class="notification-item" data-id="Id">
                <img class="image" src="~/images/profiles/user-template-male-brown.svg" />
                <span class="message">Hans Mattin-Lassei has just signed in.</span>
                <span>Just Now</span>
                <button class="btn-close" onclick="dismissNotification()"></button>
            </div>


        </div>
    </div>
</div>