<form class="searchbar-container" method="get" asp-controller="" asp-action="" novalidate>
    <div class="form-input-extended">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" class="form-search-input" placeholder="search anything..." />
    </div>
</form>